<div class="page">
  <div class="archive">
    <article class="article">
    <h1><%= @article.title %></h1>
    <%= @article.text %>
    </article>
    <article class="article">
      <h3>Comment title</h3>
      <p>Commentary</p>
    </article>
  </div>
</div>

<p>
  <%= link_to 'Back', articles_path %> <%= link_to 'Edit', edit_article_path(@article) %>
</p>