// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$white-light: #fff;
$white-blond: #ccc;
$red:  #f44336;
$black-blond: #333333;
$black-light: #888;
$gray: #cecece;

h1{
  text-align: center;
}

input[type=text], textarea {
  width: 100%;
  padding: 1rem 1rem;
  margin: 0.5rem 0;
    display: inline-block;
    border: 0.1rem solid $white-blond;
    border-radius: 0.25rem;
    box-sizing: border-box;
}
  
input[type=submit] {
    width: 100%;
    background-color: $black-blond;
    color: $white-light;
    padding: 0.875rem 1.25rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: $black-light;
}

form {
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 0.3rem;
    background-color: $white-blond;
    padding: 1.25rem;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  th {
    text-align: left;
    padding: 0.5rem;
    background-color: $black-blond;
    color: $white-blond;
  }
  td {
    text-align: left;
    padding: 0.5rem;
  }
  tr {
    &:nth-child(even) {
      background-color: $white-blond;
    }
  }

  a {
    border: none;
    display: inline-block;
    padding: 0.5rem 1rem;
    vertical-align: middle;
    text-decoration: none;
    color: $black-blond;
    background-color: $white-blond;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
  }

  .alert {
    padding: 20px;
    background-color:$red;
    color: $white-light;
  }
  .closebtn {
    margin-left: 15px;
    color: $white-light;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      color: $black-blond;
    }
  }

.page {
  padding: 2em;
  background: $gray;
  .archive {
    display: grid;
    grid-template-columns: repeat(auto-fit);
    grid-gap: 1em;
    .article {
      color: $black-blond;
      padding: 1em;
      background: #fff;
      box-shadow:
        0 5px 10px rgba(0, 0, 0, 0.1),
        0 20px 20px rgba(0, 0, 0, 0.05);
    }
  }
}



